
#API_KEY 与应用主服务器通信的密钥
PORT=3001
API_KEY=XXXXXXXXXXXXXXXXXXXX

APPLICATION_URL=https://api.airplanmode.com
JWT_SECRET=
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=airplanmode
DB_USER=airplanmode
DB_PASSWORD=airplanmode

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=airplanmode
REDIS_DB=0